.sessaoPrincipal{
    display: grid;
    gap: 1vw;
    padding: 1vw;
    grid-template-areas: 'sessaoUm sessaoTres' 'sessaoDois sessaoTres';
}
.sessaoUm{
    grid-area: sessaoUm;
    height: 42vh;
    width: 49vw;
}
.sessaoDois{
    grid-area: sessaoDois;
    height: 42vh;
    width: 49vw;
}
.sessaoTres{
    grid-area: sessaoTres;
    height: 87vh;
    width: 47vw;
}
.fotoPerfilAllan{
    height: 30vh;
    width: 12vw;
    margin: 1vw;
    float: left;
}
.textoSessaoUm{
    color: white;
    height: 35vh;
    width: 30vw;
    margin-top: 4vh;
    margin-left: 2vw;
    float: left;
}
.linha{
    height: 1px;
    border: none;
    width: 95%;
    background-color: #DBF227;
    margin-top: 5vh;
}
.sessaoUm-textoPrimario{
    margin: 0px 0px;
    font-size: 2vw;
    padding-bottom: 1vw;
}
.sessaoUm-textoSegundario{
    font-size: 0.9vw;
}
.textoSessaoDois{
    color: white;
    height: 25vh;
    margin: 2vw;
    max-width: 90vw;
}
.btn-sesaoDois{
    background-color: #DBF227;
    height: 5vh;
    width: 8vw;
    border-radius: 1.5vh;
    border: none;
    font-size: 0.9vw;
    font-weight: bold;
}
.btn-sesaoDois:hover{
    background-color: #b2c51f
}
.btn-sesaoDois-left{
    margin-left: 2vw;
    float: left;
}
.btn-sesaoDois-right{
    margin-right: 2vw;
    float: right;
}
.content-sessaoTres{
    background-color: #DBF227;
    color: black;
    height: 75vh;
    width: 38vw;
    margin: 1vw;
    padding: 20px;
}
.item-parent{
    height: 7%;
    width: 100%;
    color: black;
    margin-top: 4.5vh;
}
.item-child{
    display: flex;
    justify-content: space-between;
}
.item-text{
    font-size: 50%;
    font-weight: bold;
}
.bar{
    position: relative;
    top: 55%;
    background-color: black;
    width: 100%;
    height: 2px;
    border-radius: 10px;
}
.marker{
    height: 12px;
    width: 26px;
    border-radius: 20px;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: black;
    position: absolute;
}
